manifest {
  author = 'Marco De La Pierre'
  name = 'topy-gpu-nf'
  description = 'Toy pipeline to test Nextflow with GPUs at Pawsey'
  homePage = 'https://github.com/marcodelapierre/toy-gpu-nf'

  nextflowVersion = '!>=20.07.1'
}


profiles {
  zeus {
  
     process.container = 'marcodelapierre/toy-gpu-nf:latest'
     singularity {
       enabled = true
       // the line below does not work with multi-cluster
       //envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
       cacheDir = "$NXF_HOME/singularity"
       runOptions = "-B /group,/scratch --nv"
     }
     process.module = 'singularity'
    
    params.slurm_account = 'pawsey0001'
    process {
      clusterOptions = "--account=${params.slurm_account}"

      executor = 'slurm'
      queue = 'debugq'

      cpus = 1
      time = '2m'
    
      withName: 'proc_gpu' {
        executor = 'slurm_topaz'
        queue = 'gpuq-dev'
        clusterOptions += " --gpus-per-node=1"
      }
    }
  
  }
}
