manifest {
  author = 'Marco De La Pierre'
  name = 'topy-gpu-nf'
  description = 'Toy pipeline to test Nextflow with GPUs at Pawsey'
  homePage = 'https://github.com/marcodelapierre/toy-gpu-nf'

  nextflowVersion = '!>=20.07.1'
}


profiles {
  pawsey {
  
    // process.container = 'marcodelapierre/toy-gpu-nf:latest'
    // singularity {
    //   enabled = true
    //   envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
    //   cacheDir = "$NXF_HOME/singularity"
    // }
    // process.module = 'singularity'
    
    params.slurm_account = 'pawsey0001'
    process {
      executor = 'slurm'

      clusterOptions = "--account=${params.slurm_account} --gpus-per-node=1"    
      queue = 'gpuq-dev'

      cpus = 1
      time = '2m'
    
      // withName: 'jellyfish' {
      //   time = '2h'
      // }
    }
  
  }
}
